<div class="row col-12">
    <div class="col-12 col-sm-12 col-lg-12 col-xl-12 media formï¼inline">
        <div class="media-left media-middle media-body">
            <h4 class="media-heading">
                <%= person.patientName %>
            </h4>
        </div>
        <div class="
                    media-body">
                <ul class="list-group"><br><br>
                    <li class="list-group-item">
                        Age:
                        <%= person.age %>
                    </li>
                    <li class="list-group-item">Smoking:
                        <%= person.smoking %>
                    </li>
                    <li class="list-group-item">Asthma:
                        <%= person.Asthma %>
                    </li>
                    <li class="list-group-item">PAD:
                        <%= person.PAD %>
                    </li>
                    <li class="list-group-item">sizeOfTheOriginalTumour: 13</li>
                </ul>
        </div>
    </div>
</div>